.main-recover {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(50%, #dfdddd),
    color-stop(50%, #3ec1c9)
  );
  background: linear-gradient(to right, #dfdddd 50%, #8ce5ea 50%);
}

#iniciar_sesion {
  font-size: large;
  color: #3ec1c9;
}

.main-recover .recover-contain {
  height: 80vh;
  width: 40%;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgb(255, 255, 255)),
    to(rgb(236, 236, 236))
  );
  background: linear-gradient(
    to right bottom,
    rgba(255, 252, 252, 0.836),
    rgba(253, 244, 244, 0.582)
  );
  border-radius: 1rem;
  margin: 5rem auto;
  -webkit-box-shadow: 0.5rem 0.5rem 2rem -1rem #3a3939;
  box-shadow: 0.5rem 0.5rem 2rem -1rem #3a3939;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-recover .recover-contain .link {
  text-decoration: none;
  color: #3ec1c9;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-recover .recover-contain .link:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  color: gray;
}

.main-recover .recover-contain .left-side,
.main-recover .recover-contain .right-side {
  margin: 2rem 2rem;
  -webkit-box-shadow: 0.5rem 0.5rem 2rem -1rem #3a3939;
  box-shadow: 0.5rem 0.5rem 2rem -1rem #3a3939;
  height: 80%;
  width: 100%;
}

.main-recover .recover-contain .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-recover .recover-contain .left-side .img-class {
  height: 4.5rem;
}

.main-recover .recover-contain .left-side .img-class #img-id {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.main-recover .recover-contain .left-side input {
  display: block;
  border: none;
  height: 2rem;
  width: 70%;
  margin: auto;
  margin-bottom: 1.5rem;
  padding: 0.1rem 3rem;
  font-size: small;
  color: gray;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.main-recover .recover-contain .left-side input:focus {
  outline: none;
  border: none;
}

.main-recover .recover-contain .left-side input:hover {
  outline: 0.5px solid #3ec1c9;
  -webkit-box-shadow: 2px 2px 9px -2px #3ec1c9;
  box-shadow: 2px 2px 9px -2px #3ec1c9;
}

.main-recover .recover-contain .left-side label {
  display: block;
  text-align: left;
  width: 70%;
  margin: auto;
  font-size: medium;
  color: rgb(105, 104, 104);
  margin-bottom: 0.5rem;
}
.main-recover .recover-contain .left-side h1 {
  display: block;
  margin: 0%;
  color: gray;
  margin-bottom: 1.5%;
  font-size: 48px;
}

.main-recover .recover-contain .left-side #sub_butt {
  width: 70%;
  background: #3ec1c9;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.4rem 1rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main-recover .recover-contain .left-side #sub_butt:hover {
  -webkit-box-shadow: 4px 3px 9px -1px gray;
  box-shadow: 4px 3px 9px -1px gray;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.main-recover .recover-contain .right-side .welcomeNote h3 {
  margin-left: 1rem;
  color: black;
  float: left;
  margin-bottom: 2.5rem;
}

.main-recover .recover-contain .right-side .welcomeImg {
  height: 100%;
  width: 70%;
  margin: 0rem auto;
}

.main-recover .recover-contain .right-side .welcomeImg #wel-img-id {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.fill-window-recover {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#forgot {
  font-size: small;
  padding: 100px;
  position: relative;
  text-decoration: none;
  color: #3ec1c9;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#registrate {
  color: black;
}
#titulo {
  color: black;
}
